# Pinata IPFS
PINATA_JWT=your_pinata_jwt_here

# Blockchain
RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=your_deployed_contract_address_here
PRIVATE_KEY=your_backend_signer_private_key_here

# Server
PORT=3000

# MongoDB
MONGODB_URI=your_mongodb_connection_string_here

# JWT Auth
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h